<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img
        src="http://sallatiy.com/admin/assets/logo.png"
        id="icon"
        alt="User Icon"
      />
    </div>

    <!-- Login Form -->
    <form>
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="login"
        placeholder="اسم المستخدم"
        #username
      />
      <input
        type="password"
        id="password"
        class="fadeIn third"
        name="login"
        placeholder="كلمة السر"
        #passwrod
      />
      <input
        type="submit"
        class="fadeIn fourth"
        value="تسجيل الدخول"
        (click)="login(username.value, passwrod.value)"
      />
    </form>

    <!-- Remind Passowrd -->
    <!-- <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div> -->
  </div>
</div>
