<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-md-3 text-center main-div py-5" routerLink="/">
      <i class="fa fa-home fa-3x text-primary"></i>
      <div class="mt-3 h3">الصفحة الرئسية</div>
    </div>

    <div class="col-md-3 text-center main-div-2 py-5" routerLink="orders">
      <i class="fa fa-list-alt fa-3x text-primary"></i>
      <div class="mt-3 h3">الطلبات</div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-3 text-center main-div py-5" routerLink="#">
      <i class="fa fa-cubes fa-3x text-primary"></i>
      <div class="mt-3 h3">المنتجات</div>
    </div>
    <div class="col-md-3 text-center main-div-2 py-5">
      <i class="fa fa-commenting-o fa-3x text-primary"></i>
      <div class="mt-3 h3">الرسائل</div>
    </div>
  </div>
</div>
